<div class="col-sm-12">
	<button onclick="showModal('organic')" class="btn btn-default btn-block" style="text-align:center;padding:20px;margin-bottom:2em">
		<h1 class="laws-counter clickable">
			<%=(organic||[]).length %>
		</h1>
		<b onclick="showModal()" class="clickable">orgânicas</b>
	</button>
</div>
<div class="col-sm-12">
	<button onclick="showModal('complementary')" class="btn btn-default btn-block" style="text-align:center;padding:20px">
		<h1 class="laws-counter clickable">
			<%=(complementary||[]).length %>
		</h1>
		<b onclick="showModal()" class="clickable">complementares</b>
	</button>
</div>
<div class="col-sm-12">
	<button onclick="showModal('simple')" class="btn btn-default btn-block" style="text-align:center;padding:20px">
		<h1 class="laws-counter clickable">
			<%=(simple||[]).length %>
		</h1>
		<b onclick="showModal()" class="clickable">ordinárias</b>
	</button>
</div>
