<div class="col-sm-6">
	<div class="panel panel-default" style="text-align:center;padding:20px">
		<h1 onclick="showModal('Leis Orgânicas','louco')"     class="laws-counter clickable">
			<%=organic.length %>
		</h1>
		<b onclick="showModal('Leis Orgânicas','louco')" class="clickable">orgânicas</b>
	</div>
</div>
<div class="col-sm-6">
	<div class="panel panel-default" style="text-align:center;padding:20px">
		<h1 onclick="showModal('Leis Orgânicas','louco')"     class="laws-counter clickable">
			<%=complementary.length %>
		</h1>
		<b onclick="showModal('Leis Orgânicas','louco')" class="clickable">complementares</b>
	</div>
</div>
<div class="col-sm-6">
	<div class="panel panel-default" style="text-align:center;padding:20px">
		<h1 onclick="showModal('Leis Orgânicas','louco')"     class="laws-counter clickable">
			<%=simple.length %>
		</h1>
		<b onclick="showModal('Leis Orgânicas','louco')" class="clickable">ordinárias</b>
	</div>
</div>
